{% extends "mysite/base.html" %}


{% load static %}

{% block body %}

    <section class="home-section section-hero overlay bg-image"
             style="background-image: url('{% static 'mysite/images/hero_1.jpg' %}');" id="home-section">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="mb-5 text-center hero-title">
                        <h1 class="text-white font-weight-bold">A Powerful Career Website</h1>
                    </div>
                    <div class="text-center hero-subtitle">
                        <p>Find your dream jobs in our powerful career website</p>
                    </div>
                    {% if not user.is_authenticated or not user.is_staff %}
                    <form id="job-main-form" method="get" action="{% url 'search' %}" class="search-jobs-form hero-form">
                        <div class="row mb-5">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                                <input type="text" id="title" name="title" class="form-control form-control-lg"
                                       placeholder=" Software Engineer ...">
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                                <input type="text" id="job_location" name="job_location"
                                       class="form-control form-control-lg" placeholder="Talisay , CHMSU">
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                                <select id="employment_status" name="employment_status" class="form-control">
                                    <option>Part Time</option>
                                    <option>Full Time</option>
                                </select>
                            </div>


                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                                <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search">
                                    <span class="icon-search icon mr-2"></span>Search Job
                                </button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>


    </section>

    <!-- HOME -->
    {#    <section class="home-section section-hero overlay bg-image"#}
    {#             style="background-image: url({% static 'mysite/images/hero_1.jpg' %});" id="home-section">#}
    {##}
    {##}
    {#        <div class="container">#}
    {#            <div class="row align-items-center justify-content-center">#}
    {#                <div class="col-md-12">#}
    {#                    <div class="mb-5 text-center">#}
    {#                        <h1 class="text-white font-weight-bold">The Easiest Way To Get Your Dream Job</h1>#}
    {#                        <p>Find your dream jobs in our powerful career website template.</p>#}
    {#                    </div>#}
    {#                    <form method="post" class="search-jobs-form">#}
    {#                        <div class="row mb-5">#}
    {#                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">#}
    {#                                <input type="text" class="form-control form-control-lg"#}
    {#                                       placeholder="Job title, Company...">#}
    {#                            </div>#}
    {#                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">#}
    {#                                <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%"#}
    {#                                        data-live-search="true" title="Select Region">#}
    {#                                    <option>Anywhere</option>#}
    {#                                    <option>Dhaka</option>#}
    {#                                    <option>Sylhet</option>#}
    {#                                    <option>New York</option>#}
    {#                                    <option>India</option>#}
    {#                                    <option>Khulna</option>#}
    {#                                    <option>Toronto</option>#}
    {#                                    <option>Kansas</option>#}
    {#                                    <option>Mountain View</option>#}
    {#                                </select>#}
    {#                            </div>#}
    {#                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">#}
    {#                                <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%"#}
    {#                                        data-live-search="true" title="Select Job Type">#}
    {#                                    <option>Part Time</option>#}
    {#                                    <option>Full Time</option>#}
    {#                                </select>#}
    {#                            </div>#}
    {#                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">#}
    {#                                <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search">#}
    {#                                    <span class="icon-search icon mr-2"></span>Search Job#}
    {#                                </button>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        {% comment %}<div class="row">#}
    {#                <div class="col-md-12 popular-keywords">#}
    {#                  <h3>Trending Keywords:</h3>#}
    {#                  <ul class="keywords list-unstyled m-0 p-0">#}
    {#                    <li><a href="#" class="">UI Designer</a></li>#}
    {#                    <li><a href="#" class="">Python</a></li>#}
    {#                    <li><a href="#" class="">Developer</a></li>#}
    {#                  </ul>#}
    {#                </div>#}
    {#              </div>{% endcomment %}#}
    {#                    </form>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <a href="#next" class="scroll-button smoothscroll">#}
    {#            <span class=" icon-keyboard_arrow_down"></span>#}
    {#        </a>#}
    {##}
    {#    </section>#}

    <section class="py-5 bg-image overlay-primary fixed overlay" id="next"
             style="background-image: url({% static 'mysite/images/hero_1.jpg' %});">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2 text-white">Smart Recruitment Site Stats</h2>
                    {#                    <p class="lead text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde#}
                    {#                        officiis recusandae sequi excepturi corrupti.</p>#}
                </div>
            </div>
            <div class="row pb-0 block__19738 section-counter">

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <strong class="number" data-number={{ candidates }}>0</strong>
                    </div>
                    <span class="caption">Candidates</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <strong class="number" data-number="{{ job_len }}">0</strong>
                    </div>
                    <span class="caption">Job Posted</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <strong class="number" data-number="40">0</strong>
                    </div>
                    <span class="caption">Jobs Filled</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <strong class="number" data-number={{ companies }}>0</strong>
                    </div>
                    <span class="caption">Companies</span>
                </div>
            </div>
        </div>
    </section>


    <section class="site-section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">{{ job_len }} Job Listed</h2>
                </div>
            </div>

            <ul class="job-listings mb-5">
                {% for job_listing in job_listings %}
                    <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                        <a href="/job-single/{{ job_listing.id }}"></a>
                        <div class="job-listing-logo mr-4">
                            <img src="{% static 'mysite/images/dj.png' %}"
                                 alt="Free Website Template by Free-Template.co" class="img-fluid">
                        </div>

                        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                <h2>{{ job_listing.title }}</h2>
                                <strong>{{ job_listing.company_name }}</strong>
                            </div>
                            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                <span class="icon-room"></span> {{ job_listing.job_location }}
                            </div>
                            <div class="job-listing-meta">
                                <span class="badge badge-success">{{ job_listing.employment_status }}</span>
                            </div>
                            <div class="job-listing-meta">
                                <span class="badge badge-danger">{{ job_listing.salary }}</span>
                            </div>
                            <div class="job-listing-meta">
                                {% if job_listing.vacancy > 0 %}
                                    <span class="badge badge-info">{{ job_listing.vacancy }} Open</span>
                                {% else %}
                                    <span class="badge badge-secondary">Closed</span>
                                {% endif %}
                            </div>
                        </div>

                    </li>
                {% endfor %}
            </ul>

            <div class="row pagination-wrap">
                <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                    <span>Showing {{ curr_page1 }}-{{ curr_page2 }} Of {{ job_len }}</span>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="custom-pagination ml-auto">
                        {% if query.has_previous %}
                            <a href="?page={{ query.previous_page_number }}" class="prev">Prev</a>
                        {% endif %}
                        <div class="d-inline-block">
                            Page <a href="#" class="active">{{ query.number }}</a> of {{ query.paginator.num_pages }}
                        </div>
                        {% if query.has_next %}
                            <a href="?page={{ query.next_page_number }}" class="next">Next</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="py-5 bg-image overlay-primary fixed overlay"
             style="background-image: url({% static 'mysite/images/hero_1.jpg' %});">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h2 class="text-white">Looking For A Job?</h2>
                    {#                    <p class="mb-0 text-white lead">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora#}
                    {#                        adipisci impedit.</p>#}
                </div>
                <div class="col-md-3 ml-auto">
                    <a href="{% url 'register' %}" class="btn btn-warning btn-block btn-lg">Sign Up</a>
                </div>
            </div>
        </div>
    </section>


    <section class="site-section py-4">
        <style>
          /* Uniform logo sizing for Company We've Helped section */
          .company-logo-img {
            width: 140px;
            height: 80px;
            object-fit: contain;
            display: inline-block;
            transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), filter 0.3s ease;
            cursor: pointer;
          }
          .company-logo-img:hover {
            transform: scale(1.15);
            filter: brightness(1.3) drop-shadow(0 4px 12px rgba(255, 255, 255, 0.25));
          }
        </style>
        <div class="container">

            <div class="row align-items-center">
                <div class="col-12 text-center mt-4 mb-5">
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <h2 class="section-title mb-2 text-white">Company We've Helped</h2>
                        </div>
                    </div>

                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center">
                    <img src="{% static 'mysite/images/logo_mailchimp.svg' %}" alt="MailChimp" class="company-logo-img">
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center">
                    <img src="{% static 'mysite/images/logo_paypal.svg' %}" alt="PayPal" class="company-logo-img">
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center">
                    <img src="{% static 'mysite/images/logo_stripe.svg' %}" alt="Stripe" class="company-logo-img">
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center">
                    <img src="{% static 'mysite/images/logo_visa.svg' %}" alt="Visa" class="company-logo-img">
                </div>

                <div class="col-6 col-lg-3 col-md-6 text-center">
                    <img src="{% static 'mysite/images/logo_apple.svg' %}" alt="Apple" class="company-logo-img">
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center">
                    <img src="{% static 'mysite/images/logo_tinder.svg' %}" alt="Tinder" class="company-logo-img">
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center">
                    <img src="{% static 'mysite/images/logo_sony.svg' %}" alt="Sony" class="company-logo-img">
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center">
                    <img src="{% static 'mysite/images/logo_airbnb.svg' %}" alt="Airbnb" class="company-logo-img">
                </div>
            </div>
        </div>
    </section>

{% endblock body %}